* {
    margin: 0;
    padding: 0;
}
.container {
    display: inline;
    padding: 6px;
}
.profile_img {
    border-radius: 15px;
    padding: 20px;
    height: 1000x;
    width: 200px;
    margin-top: 15px;
    margin-left:15px;
    margin-right: 15px;

    


    
}
.header_name {
    display:block ;
    text-align: center;
    font-weight: bold;
    color: black;
    padding-right: 5px;
}

.header_dev {
    display: flex;
    padding: 10px;
    font-weight: bold;
    color: black;

}
.about_me {
    display: block;
    text-align: center;
    padding: 3px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 10px;
    color:black;

}
.tools {
    display: block;
    padding: 10px;
    margin : 10px;
    text-decoration: underline;
    
}
.tools_used {
display: flex;
text-align: left;
font-size: 30px;
font-weight: bold;
padding: 10px;


}
.tool_img {
    display: flex;
    height: 1000;
    width: 100px;
    float: left;
    text-align: center;
    padding: 5px;
    
}
.project_links {
    display: block;
    float: left;
    text-align: center;
    padding:10px;
}
.html {
    font-weight: bold;
    text-decoration: underline;
}
.php_project_links {
    display: block;
    float: left;
    text-align: center;
    padding:10px;
    padding: 12px;
    padding-right: 10px;
    padding-bottom: 4px;
    margin: 1px;
    margin-top: 2px;
   
     
}
.php {
    font-weight: bold;
    text-decoration: underline;
    

    
    
}
.javascript {
    display: block;
    text-align: center;
    text-decoration: underline;
}
