* {
    margin: 0;
    padding: 0;
}
.container {
    display: inline;
    padding: 6px;
}
.profile_img {
    border-radius: 15px;
    padding: 20px;
    height: 1000x;
    width: 200px;
    margin-top: 15px;
    margin-left:15px;
    margin-right: 15px;

    


    
}
.header_name {
    display:block ;
    text-align: center;
    font-weight: bold;
    color: black;
    padding-right: 5px;
}

.header_dev {
    display: flex;
    padding: 10px;
    font-weight: bold;
    color: black;

}
.about_me {
    display: block;
    text-align: center;
    padding: 3px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 10px;
    color:black;

}
.tools {
    display: block;
    padding: 10px;
    margin : 10px;
    text-decoration: underline;
    
}
.tools_used {
display: flex;
text-align: left;
font-size: 30px;
font-weight: bold;
padding: 10px;


}
.tool_img {
    display: flex;
    height: 1000;
    width: 100px;
    float: left;
    text-align: center;
    padding: 5px;
    
}
.html {
    display: flex;
    text-align: center;
    text-decoration: underline;
    margin: 120px;
}
.project_img {
    position: relative;
    height: 100px;
    width: 200px;

}
.survey {
    position: relative;
    height: 100px;
    width: 200px;
    
}
.login {
    position: relative;
    float: left;
    height: 100;
    width: 200px ;
}
.javascript_header {
    display: flex;
     text-decoration: underline;
     text-align: center;
     margin: 60px;
}
.clock {
    position: relative;
    height: 100px;
    width: 200px;
}
.text_game {
    position: relative;
    height: 100px;
    width:200px;
}
.fight {
    position: relative;
    height: 100px;
    width: 200px
}
.php_header{
    display: flex;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
}
.contact {
    position: relative;
    height: 100px;
    width: 200px;
}
.profit {
    position: relative;
    height: 100px;
    width: 200px;
}

.email {
    display: block;
    text-align: center;
    padding-right: 3px;
    text-decoration: none;
    color: black;
}
.header {
    text-decoration: underline;
}


.phone {
    display: block;
    text-align: center;
    padding-right: 5px ;
    text-decoration: none;
    color: black;
}
    
    


    
